.sub-board {
  margin-top: 15px;
  .flex-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .submit-button {
      height: 46px;
      text-align: center;
      width: 100px;
      .sk-spinner {
        color: white;
        margin: auto;
      }
    }
  }
}
