$British: rgb(42, 44, 128);
$French: rgb(93, 135, 175);
$German: rgb(83, 79, 75);
$Italian: rgb(105, 130, 70);
$Austrian: rgb(143, 100, 96);
$Russian: rgb(106, 114, 134);
$Turkish: rgb(176, 156, 26);
