$English: rgb(42, 44, 128);
$French: rgb(93, 135, 175);
$German: rgb(83, 79, 75);
$Italian: rgb(105, 130, 70);
$Austrian: rgb(143, 100, 96);
$Russian: rgb(106, 114, 134);
$Turkish: rgb(176, 156, 26);

$EnglishUnit: hsl(239, 51%, 23%);
$FrenchUnit: hsl(209, 34%, 42%);
$GermanUnit: hsl(30, 5%, 21%);
$ItalianUnit: hsl(85, 30%, 39%);
$AustrianUnit: hsl(5, 20%, 37%);
$RussianUnit: hsl(223, 12%, 37%);
$TurkishUnit: hsl(52, 74%, 30%);
