@import 'utils/colors.scss';

.board-header {
  width: 100%;
  background-color: $lightGrey;
  .row {
    padding-bottom: 10px;
    padding-top: 10px;
    .col-left {
      text-align: left;
      .list_icon {
        height: 100%;
        margin-right: 15px;
        width: 25px;
      }
      .chat_icon {
        height: 100%;
        margin-top: -2px;
        width: 30px;
      }
    }
    .col-middle {
      text-align: middle;
      .phase {
        font-size: 1.2em;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .date {
        font-size: 0.85em;
        margin-bottom: 0px;
        margin-top: 3px;
      }
    }
    .col-right {
      text-align: right;
      .btn-group {
        vertical-align: text-top;
        .btn {
          font-size: 0.95em;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .board-header .row {
    .col-left .date {
      margin-top: 6px;
    }
    .col-middle .phase {
      margin-top: 0px;
    }
    .col-right .btn {
      font-size: 1rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .board-header .row {
    .col-left .date {
      margin-top: 6px;
    }
    .col-middle .phase {
      margin-top: 3px;
    }
    .col-right .btn {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .board-header .row {
    .col-left .date {
      font-size: 1rem;
      margin-top: 4px;
    }
    .col-middle .phase {
      font-size: 1.3rem;
      margin-top: 2px;
    }
    .col-right .btn {
      font-size: 0.7rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .board-header .row {
    .col-left {
      text-align: center;
      .date {
        font-size: 0.9rem;
        margin-bottom: 2px;
      }
    }
    .col-middle .phase {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }
    .col-right {
      text-align: center;
      .btn {
        font-size: 0.5rem;
      }
    }
  }
}

@media (max-width: 575px) {
  .board-header .row {
    .col-left {
      text-align: center;
      .date {
        font-size: 0.9rem;
        margin-top: 0;
        margin-bottom: 2px;
      }
    }
    .col-middle .phase {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }
    .col-right {
      text-align: center;
      .btn {
        font-size: 0.5rem;
      }
    }
  }
}
